.background {
  background-image: url(https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/Design-Guide-IO_3X2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  margin: 0px;
}
#font {
  font-family: bodoni;
}
.banda {
  position:fixed;
  height: 60px;
  background-color: black;
  width: 100%;
  border-bottom: 1px solid red;
  opacity: 0.8;
}
.bandiere {
  width: 60px;
  height: 40px;
  margin-left: 20px;
  margin-top: 14px;
  opacity: 1;
}
#italia {
  margin-left: 100px;
}

#opendayonline {
  margin: auto;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 40px;
  margin-bottom: 20px;
  padding: 1px;
  max-width: 600px;
}
#opendayinte {
  margin: auto;
  text-align: center;
  color: white;
  background-color: grey;
  border-radius: 40px;
  padding: 1px;
  max-width: 600px;
}
#offertaformativa {
  background-color: hsl(0, 0%, 6%);
  height: auto;
  border: 3px solid white;
  border-radius:40px;
  color: white;
  text-align: center;
  padding: 30px;
}
.libro {
  height: 100px;
}

.material-symbols-outlined {
  font-size: 70px !important;
}
.titolo{
  color:white;
  font-size: 20px;
  text-align: center;
  color: red
}
.paragrafo{
  text-align: center;
}

a {
  text-decoration: none;
}
.sveglia {
  height: 100px;
}
.soldi {
  height: 100px;
}
#welcome {
  background-color: black;
  padding: 20px;
  color: white;
  height: auto;
  border: 3px solid white;
  border-radius:40px;
}

#artivisive {
  border-allign: center;
  background-color: black;
  padding: 20px;
  color: white;
  height: auto;
  border: 3px solid white;
  border-radius:40px;
}

h2[welcome] {
  margin: 70px 0px 70px 0px;
  border-left: 10px solid hsl(0, 100%, 70%);
  padding-left: 20px;
}

#video {
  padding:1px;
   width: 50%;
  height: 10%;
}

.scuola_di_grafica {
  height: 300px;
  padding: 2px;
  margin: auto;
  margin-top: 60px;
  }

#dipartimento {
  height: auto;
  border: 3px solid white;
  min-width: 1000px;
  max-width: 1000px;
  background-color: white;
  margin: auto;
  text-align: center;
  color: black;
  border-radius: 40px;
  margin-top: 20px;
}
.liste {
  margin: auto;
  color: white;
}
.scuola {
  text-align: center;
  font-size: 24px;
}
#sfondo {
  background-color: black;
}
#freccia.up{
text-shadow: 0px 0px 10px black;
}
#freccia.up{
text-shadow: 0px 0px 10px black;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 30px;
  opacity: 0.8;
  font-size:15px;
  text-align:center;
}
.top {
  color: white;
  background-color: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
}
#bottonecookie {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100px;
  border-radius: 30px;
}
#cookie{
  font:times new roman;
  color: white;
  font-size:10px;
  background-color: black;
  margin: 2px solid white;
  width: 200px;
  padding: 15px;
  display:none;
}
#chiusura{
  font-size: 15px;
  margin-left: 150px;
}
#map {border: 4px solid white;
  border-radius:40px;
    width: 100%;
    height: 330px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
min-width: 800px;
  max-width: 1140px;
 margin-top: 20px;}
